<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
    "http://www.w3.org/TR/html4/strict.dtd">
<html lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>barnaba</title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.3.0/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container">
        <div class="span-one-third">
        <ul id="linkspam">
          <li><a rel="author" href="https://profiles.google.com/BarnabaTurek"> <img src="http://www.google.com/images/icons/ui/gprofile_button-44.png" width="36" height="36"> </a></li>
          <li><a rel="author" href="http://www.reddit.com/r/barnaba"> <img src="http://www.reddit.com/static/blog_snoo.gif" width="36" height="49"> </a></li>
          <li><a href="http://www.twitter.com/barnex"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-c.png" alt="Follow barnex on Twitter"/></a></li>
        </ul>
        </div>
      <div class="row">
        <div class="span-one-third">
          <a href="http://github.com/barnaba"><h1 class="centered">Barnaba Turek</h1> </a> 
          <h2> My projects</h1>
          <ul>
          <% projects.each do |project| %>
            <li>
              <%= project.anchor%> 
              <% if project == projects.first %>
                <span class="label success">New</span>
              <% end %>
              <% if project.is_fork %>
                <span class="label warning">Fork</span>
              <% end %>
              <span class="description"> <%= project.description %> </span>
            </li>

          <% end %>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>

