body {
  padding-top: 10%;
}
#linkspam {
  text-align: right;
  list-style-type: none;
  margin-right: 1em;
}
li {
  line-height: 1.8em;
}
#linkspam li {
  background-position: 100% 0.4em;
  padding-right: 0.6em;
}
